[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
  "pre-commit>=3.7.1",
  "pyright>=1.1.383",
  "ruff>=0.4.8",
]

[project]
name = "{{ package_name }}"
version = "0.0.1"
description = "{{ package_description }}"
authors = [{ name = "{{ author_name }}", email = "{{ author_email }}" }]
license = { file = "LICENSE" }
readme = "README.md"
requires-python = ">={{ python_version }}"
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)",
  "Operating System :: OS Independent",
]
dependencies = []

[project.urls]
"Homepage" = "{{ repo_url }}"
"Bug Tracker" = "{{ issues_url }}"

[tool.hatch.build.targets.wheel]
packages = ["src/{{ package_name }}"]

[tool.hatch.metadata]
allow-direct-references = true

[tool.pyright]
include = ["src"]
typeCheckingMode = "strict"

[tool.ruff]
line-length = {{ python_line_length }}
preview = true
src = ["src"]
unsafe-fixes = true

[tool.ruff.lint]
exclude = [
  "__pycache__",
  ".cache",
  ".eggs",
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".venv",
  "*.egg-info",
  "build",
  "dist",
]
explicit-preview-rules = true
ignore = [
  "ANN401",
  "BLE001",
  "COM",
  "D100",
  "D101",
  "D102",
  "D103",
  "D103",
  "D104",
  "D105",
  "D106",
  "D107",
  "D203",
  "D213",
  "ISC001",
  "N818",
  "PD",
  "PGH003",
  "S101",
]
select = ["ALL", "RUF022"]
unfixable = ["COM", "ERA", "F841"]

# [tool.ruff.lint.flake8-builtins]
# builtins-ignorelist = ["id", "open", "type"]

# [tool.ruff.lint.mccabe]
# max-complexity = 10

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F403"]
"local/dev*.py" = [
  "T201", # allow print
]
"typings/**/*.pyi" = ["F403"]

# [tool.ruff.lint.pylint]
# max-args = 5
# max-branches = 12
# max-statements = 50
